<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- Load Vollkorn font -->
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body class="<%=@album_slideshow%>">
<div id="content">
  <header id="top_nav">
      <% if current_user %>
      <nav>
        <ul>
            <li><a href="/" id="logo">Flickr</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/userpage">My Account</a></li>
            <li><a href="/my_albums">My Albums</a></li>
        </ul>
      <% else %>
        <nav id="top_nav">
          <ul>
            <li><a href="/" id="logo">Flickr</a></li>
            <li><a href="/signup" id="sign_up">Sign Up</a><li>
            <li><a href="/login">Sign In</a></li>
         </ul>
        </nav>
     <% end %>
  </header>
  <%= yield %>
</div>
</body>
</html>

