<h1><%=@album.title%></h1>
<h4><%=@album.description%></h4>

<div id="slideshow">
  <ul class="slides">
    <%@album.photos.each do |photo|%>
    <li class="slide"><img src=<%=photo.file_url%>></li>
  <%end%>
    <li class="slide"><img src=<%=@album.photos.first.file_url%>></li>
   </ul>
</div>

