<h1>Highlighted Photos</h1>

<%unless @all_photos.nil?%>
<ol class="highlighted_photos">
  <%sorted = @all_photos.sort_by {|photo| -photo.created_at.day}%>
  <%sorted.each do |photo|%>
 <li><img src=<%=photo.file_url(:thumb)%>></li>
  <%end%>
<%end%>